.side-nav {
  border-right: 2px;
}
.top-nav {
  margin-top: 20px;
  margin-bottom: 10px;
}

.top-nav h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-nav .bell {
  float: right;
  padding-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.top-nav .add-new {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.top-nav .user-name {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
}
.recipe-list .list-group {
  box-shadow: none;
}

.recipe-list .list-group-item {
  border: 0px;
}

.recipe-list .list-group-item .rating {
  float:right;
}